# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
server/.env

# Google Service Account credentials (NEVER commit!)
server/src/gdrive-credentials.json
*gdrive-credentials*.json

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Chặn các file rác hệ thống vô tình lọt vào
Library/
.android/
server/
admin-web/